<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Sidebar toggler -->
<div class="full-width-fixed p-0">
  <button id="sidebar-toggler" class="btn btn-light py-1 w-100 d-flex justify-content-center align-items-center" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"> <span class="mx-2 fs-18">About Menu</span> </i>
  </button>
</div>

<div class="container-fluid sidebar_pg_container">
    <div class="row m-0">
      
      <!-- Sidebar -->
      <nav id="sidebarNav" class="col-md-3 col-lg-2 d-md-block sidebar collapse position-fixed custom-sidebar p-0 px-3">
        <ul class="nav flex-column bg-light">
          <li class="nav-item">
            <a class="nav-link active" href="#riia">About IPEAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mission_vision">Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mission_vision">Mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alumni Constitution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ex_committee">Executive Committee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
  
      <!-- Sidebar Toggler and Content -->
      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 sidebar_show_content">
  
        <!-- Content -->
        <div class="" id="riia">
            <img src="{% static 'imgs/riaa_banner.jpg' %}" alt="" class="img-fluid riia_banner">
            <p class="my_title mt-4 mb-4">
                <span class="underline_span_left">About IPEAR</span>
            </p>
            IPEAR, which stands for "IPE Alumni of RUET," serves as a vibrant network that fosters lifelong relationships among the alumni, celebrates their achievements, and contributes to the growth and development of both the alumni and the university itself. We take immense pride in connecting and uniting the bright minds that have emerged from our esteemed institution. 
            <br>
            At IPEAR, we believe in the power of a strong community built upon the foundation of shared experiences, ambitions, and accomplishments. Our association serves as a bridge that spans across generations of engineers, bringing together graduates from various workplaces under the RUET IPE banner. Whether you graduated recently or decades ago, IPEAR welcomes you to a platform where you can reconnect, engage, and continue to learn from the diverse talents that RUET has nurtured over the years.
            Through a plethora of events, workshops, seminars, and networking opportunities, IPEAR aims to offer continuous learning and professional development for its members. We understand that learning never truly stops, and by facilitating interactions between alumni and students, we provide a space for mentorship and guidance that can shape the future of engineering. From sharing industry insights to discussing cutting-edge technologies, IPEAR is committed to nurturing an environment of knowledge exchange and growth.
            As we embark on the journey of unveiling the RUET IPE Alumni website, IPEAR invites all alumni to join us in this exciting venture. The website will serve as a digital hub for all things alumni-related, providing a seamless platform to connect, engage, and stay updated with the latest news and events. Whether you're looking to reconnect with old friends, explore professional opportunities, or simply reminisce about your time at RUET, the IPEAR website will be your go-to destination.
            <br>
            In conclusion, IPEAR stands as a testament to the enduring legacy of RUET. It embodies the spirit of excellence, innovation, and camaraderie that defines our alma mater. As we launch our alumni website, we look forward to seeing the IPEAR community flourish and continue to make significant contributions to the world of engineering. Join us in celebrating the past, embracing the present, and shaping the future through IPEAR.
        </div>

        <div style="height: 80px;" id="mission_vision"></div>

        <div class="row m-0">
            <div class="col-xl-6 vm_card my-1 mx-auto">
                <img src="{% static 'icons/witch.png' %}" class="img-fluid mb-3">
                <p class="my_title fs-20 fw-700 mb-4">
                    <span class="underline_span_left">Vision</span>
                </p>
                <p class="text-lightgrey m-0 f-opensans">
                    IPEAR envisions a future where every IPE alumni of RUET feels a lasting connection to their alma mater and their fellow graduates, fostering a community that transcends time and geographical boundaries. We aim to become an essential part of every IPE alumni's journey, offering a hub of continuous learning, mentorship, and professional development. By leveraging the collective strength and knowledge of our diverse community, IPEAR seeks to drive innovations in Industrial & Production Engineering, contributing positively to the society and upholding the RUET legacy of excellence.
                </p>
                <div class="row m-0 fs-13 fw-700">
                </div>  
            </div>
            <div class="col-xl-6 vm_card my-1 mx-auto">
                <img src="{% static 'icons/witch.png' %}" class="img-fluid mb-3">
                <p class="my_title fs-20 fw-700 mb-4">
                    <span class="underline_span_left">Mission</span>
                </p>
                <p class="text-lightgrey m-0 f-opensans">
                    IPEAR envisions a future where every IPE alumni of RUET feels a lasting connection to their alma mater and their fellow graduates, fostering a community that transcends time and geographical boundaries. We aim to become an essential part of every IPE alumni's journey, offering a hub of continuous learning, mentorship, and professional development. By leveraging the collective strength and knowledge of our diverse community, IPEAR seeks to drive innovations in Industrial & Production Engineering, contributing positively to the society and upholding the RUET legacy of excellence.
                </p>
                <div class="row m-0 fs-13 fw-700">
                </div>  
            </div>
        </div>

        <div style="height: 80px;" id="ex_committee"></div>

        <div class="">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xl-6">Chief Patron</td>
                    <td class="col-xl-6">Will be announced  later</td>
                  </tr>
                  <tr>
                    <td>Advisors</td>
                    <td>Will be announced  later</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive">
              <p class="my_title mt-4 mb-4"><span class="underline_span_left">Executive Committee</span></p>
              <table class="table table-striped table-bordered">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xl-6">President</td>
                    <td class="col-xl-6">Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Vice-president</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>General Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Joint Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Treasurer</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Membership & Office Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Female Wing Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Cultural Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Communication Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Training & Development (T&D) Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>International Relations (IR) Secretary</td>
                    <td>Will be announced later</td>
                  </tr>
                  <tr>
                    <td>Executive Members</td>
                    <td>Will be announced later</td>
                  </tr>
                </tbody>
              </table>
            </div>           

        </div>

        <div style="height: 80px;" id="contacts"></div>

        <div class="">
            <p class="my_title mt-4 mb-4"><span class="underline_span_left">Contacts</span></p>
            <ul class="footer_list p-0 mt-2">
                <li class="my-2"><i class="fas fa-phone-alt"></i> Phone-1: +880 1713228545 (HoD)</li>
                <li class="my-2"><i class="fas fa-envelope"></i> Email: alumni@ipe.ruet.ac.bd</li>
                <li class="my-2"><i class="fas fa-map-marker-alt"></i> Address: Department of Industrial & Production Engineering, RUET, Kazla, Rajshahi-6204, Bangladesh.</li>
            </ul>
        </div>

      </div>
    </div>
</div>
  
  <div class="clear"></div>



{% endblock %}
