<ul class="nav flex-column bg-light">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'app:admin_dashboard' %}">Reunion Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'app:admin_alumnimanagement' %}">Alumni</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:adminpannel_notice' %}">Notice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:adminpannel_achievement' %}">Achievement</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:admin_carousel' %}">Home Page banner</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app:admin_gallary' %}">Gallary</a>
    </li>
</ul>

