<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Sidebar toggler -->
<div class="full-width-fixed p-0">
  <button id="sidebar-toggler" class="btn btn-light py-1 w-100 d-flex justify-content-center align-items-center" type="button" data-toggle="collapse" data-target="#sidebarNav" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"> <span class="mx-2 fs-18">Admin Pannel Menu</span> </i>
  </button>
</div>


<div class="container-fluid sidebar_pg_container">
    <div class="row m-0">
      
      <!-- Sidebar -->
      <nav id="sidebarNav" class="col-md-3 col-lg-2 d-md-block sidebar collapse position-fixed custom-sidebar p-0 px-3">
        {% include "admin_sidepannel.html" %}
      </nav>
      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 sidebar_show_content">
        
        <div id="admin_carousel">
            <p class="my_title mb-4">
                <span class="underline_span_left">Home Page Banner</span>
            </p>
            <div class="row m-0 mb-4">
                <!-- New carousel create button -->
                <button type="button" class="btn btn-primary btn-blue my-2 mx-3" data-toggle="modal" data-target="#createNewBannerModal">
                    New carousel
                </button>
            </div>
            <div class="row m-0">
                {% for carousel in latest_carousels %}
                <div class="col-md-4">
                    <div class="card">
                        <img src="{{ carousel.image.url }}" class="card-img-top" alt="{{ carousel.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ carousel.title }}</h5>
                            <form method="POST" action="{% url 'app:delete_carousel' carousel.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div style="height: 80px;"></div>
      </div>
    </div>
</div>
  
<div class="clear"></div>


<!-- Modal -->
<div class="modal fade" id="createNewBannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Carousel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'app:create_carousel' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="carouselTitle" class="form-label">Title</label>
                    <input type="text" class="form-control" id="carouselTitle" name="title">
                </div>
                <div class="mb-3">
                    <label for="carouselImage" class="form-label">Image</label>
                    <input type="file" class="form-control" id="carouselImage" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        
      </div>
    </div>
</div>



{% endblock %}
