<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <p class="my_title text-center"><span class="underline_span_center">Registration for 1st Reunion</span></p>
    {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}

    <form method="POST" action="" enctype="multipart/form-data" class="my-5">
        {% csrf_token %}
        <div class="row m-0">
            <div class="form-group col-xl-4">
                <label for="name">Name <span class="mandatory_star">*</span></label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="form-group col-xl-4">
                <label for="email">email <span class="mandatory_star">*</span></label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="form-group col-xl-4">
                <label for="phone_no">Phone No</label>
                <input type="text" name="phone_no" class="form-control">
            </div>
    
            <div class="form-group col-xl-4">
                <label for="roll_number">Roll Number <span class="mandatory_star">*</span></label>
                <input type="text" name="roll_number" class="form-control" required>
            </div>
    
            <div class="form-group col-xl-4">
              <label for="number_of_guests">Number of Guests</label>
              <select name="number_of_guests" class="form-control">
                  {% for i in "0123456789"|make_list %}
                      <option value="{{ i }}" {% if i == "0" %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
              </select>
          </div>
          
          <div class="form-group col-xl-4">
              <label for="driver">Driver</label>
              <select name="driver" class="form-control">
                  {% for i in "0123"|make_list %}
                      <option value="{{ i }}" {% if i == "0" %}selected{% endif %}>{{ i }}</option>
                  {% endfor %}
              </select>
          </div>
          
          <div class="form-group col-xl-4">
              <label for="total_amount_paid">Total Amount Paid <span class="mandatory_star">*</span></label>
              <input type="number" name="total_amount_paid" class="form-control" required>
          </div>

          <div class="form-group col-xl-4">
              <label for="transaction_id">Transaction ID</label>
              <input type="text" name="transaction_id" class="form-control">
          </div>
          
          <div class="form-group col-xl-4">
              <label for="upload_payment_slip">Upload Payment Slip (img only)</label>
              <input type="file" id="paymentSlipInput" name="upload_payment_slip" class="form-control-file">
              <small class="form-text text-muted">Required less than 2MB.</small>
          </div>
            <button type="submit" class="btn btn-blue btn-primary px-3 my-3 ml-auto">Submit</button>
        </div>
    </form>
</div>
  

<!-- Modal HTML Structure -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Success!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your registration will be confirmed after payment verification. You can explore conformation status from reunion participant list.
        </div>
        <div class="modal-footer">
          <a href="{% url 'app:index' %}" class="btn btn-primary">Back To Home</a>
        </div>
      </div>
    </div>
</div>
  
  

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var registrationSuccessful = {% if registration_successful %}true{% else %}false{% endif %};
        
        var modal = document.getElementById('myModal');
        
        function showModal() {
          if (modal !== null) {
            var bootstrapModal = new bootstrap.Modal(modal);
            bootstrapModal.show();
          }
        }

        if (registrationSuccessful) {
            showModal();
        }
    });

     // Event listener for the payment slip
     document.getElementById('paymentSlipInput').addEventListener('change', function() {
        var file = this.files[0];

        // Check file size
        if (file.size > 2097152) { // 2MB = 2097152 bytes
            alert('File size must be less than 2MB');
            this.value = '';
            return;
        }
    });
    
</script>

  
  




{% endblock %}
